<%= content_for :page_title, 'Welcome Page' %>
<%= content_for :page_description, 'Welcome Page' %>

<div>
  <h1 class="font-bold text-4xl">Pages#welcome</h1>
  <p>Find me in app/views/pages/welcome.html.erb</p>
</div>
